@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100&family=Montserrat:wght@400;500;700&display=swap');

html, body{
    height: 100%;
    margin: 0;
    font-family: Geologica, sans-serif;
}

.container{
    height: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    color: white; 
    font-weight: bold;
    grid-template-areas:
      "h h h h h h h h h h h h"
      "m m c c c c c c c c c c"
      "f f f f f f f f f f f f";
    grid-gap: 3px;
}

header{
    background-color: aquamarine;
    display: flex; 
    justify-content: center;
    align-items: center;
    grid-area: h;
}

article{
    background-color: brown;
    display: flex; 
    justify-content: center;
    align-items: center;
    grid-area: m;
}

content{
    background-color: aqua;
    display: flex; 
    justify-content: center;
    align-items: center;
    grid-area: c;
}

footer{
    background-color: orange;
    display: flex; 
    justify-content: center;
    align-items: center;
    grid-area: f;
}


@media only screen and (max-width: 768px){
    .container{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
        grid-template-rows: 1fr 1fr 10fr 1fr;
        grid-template-areas:
        "h h h h h h h h h h h h"
        "m m m m m m m m m m m m"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
        grid-gap: 0px;
    }
}

